/* riyahal.css */

* {
    box-sizing: border-box;
    cursor: url('electric_bolt_16dp_EAC452_FILL0_wght400_GRAD0_opsz20.png'), auto;
}
body {
    margin: 0;
    font-family: Lato, sans-serif;
    overflow-x: hidden;
    background-color: rgb(127, 23, 255);
    cursor: url('electric_bolt_16dp_EAC452_FILL0_wght400_GRAD0_opsz20.png'), auto;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.header img {
    height: 50px;
    margin-left: 20px;
}
.menu {
    display: flex;
    margin-right: 20px;
}
.menu a {
    color: white;
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-family: 'IBM Plex Sans';
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-family: "Lato";
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
}
.dropdown-content a {
    font-family: "Lato";
    color: white;
    padding: 10px 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    font-family: "Lato";
    background-color: #555;
}
.dropdown:hover .dropdown-content {
    font-family: "Lato";
    display: block;
}
.social-icons {
    margin-right: 20px;
}
.social-icons a {
    color: white;
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
}
.content-section {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.content-section .content {
    position: relative;
    z-index: 2;
    padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.content-section .content h1 {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 20px;
    justify-content: center;
}
.gallery-item {
    flex: 1 1 calc(33% - 20px);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-item:hover {
    transform: scale(1.03);
    background-color: white;
}
.gallery-item img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
}
.gallery-item h3 {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'IBM Plex Sans';
}
.gallery-item p {
    font-size: 16px;
    color: #666;
    font-family: Lato;
}
.marquee {
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    padding-top: 20px;
    font-style: italic;
    color: rgb(170, 0, 222);
    background-color: yellowgreen;
    height: 100px;
    border: 7px dotted yellow;
    animation: marqueeanim 1s infinite;
}
@keyframes marqueeanim {
    from {color: rgb(170, 0, 222);}
    to {color: rgb(0, 0, 0)}
}

/* Animations */
.square-to-circle {
    width: 400px;
    height: 400px;
    background: radial-gradient(circle at center, rgb(210, 137, 255) 70%, rgba(210, 137, 255, 0) 100%), 
    url('pngtree-black-halftone-dots-overlay-background-png-image_8625004.png');
    background-blend-mode: overlay soft-light;
    background-size: cover;
    background-position: center;
    border: 30px dashed rgb(127, 23, 255);    
    animation: square-to-circle 4s 0.83s infinite cubic-bezier(1,.015,.295,1.225);
}
@keyframes square-to-circle {
    0% { 
        border-radius: 0%; 
        background: radial-gradient(circle at center, rgb(210, 137, 255) 70%, rgb(182, 64, 255) 100%),
        url('Pngtree—black halftone dots overlay background.png');
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        transform: rotate(0deg); 
    } 
    25% { 
        border-radius: 25%; 
        background: radial-gradient(circle at center, gold 70%, rgb(230, 157, 0) 100%),
        url('Pngtree—black halftone dots overlay background.png');
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        transform: rotate(90deg); 
    }
    45% { 
        border-radius: 45%; 
        background: radial-gradient(circle at center, lightgrey 70%, grey 100%),
        url('Pngtree—black halftone dots overlay background.png');
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        transform: rotate(180deg); 
    }
    75% { 
        border-radius: 75%; 
        background: radial-gradient(circle at center, rgb(0, 210, 0) 70%, rgb(4, 133, 4) 100%),
        url('Pngtree—black halftone dots overlay background.png');
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        transform: rotate(270deg); 
    }
    90% { 
        border-radius: 90%;
        background: radial-gradient(circle at center, rgb(0, 183, 255) 70%, rgb(0, 97, 193) 100%),
        url('Pngtree—black halftone dots overlay background.png');
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        transform: rotate(360deg); 
    }
    100% { 
        border-radius: 0%; 
        background: radial-gradient(circle at center, rgb(210, 137, 255) 70%, rgb(182, 64, 255) 100%),
        url('Pngtree—black halftone dots overlay background.png');
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        transform: rotate(0deg);
    }
}

.gearsimple {
    width: 90px;
    height: 90px;
    background-color: violet;
    border-radius: 90px;
    border: 20px dashed rgb(127, 23, 255);
    animation: gearsimple 4s .83s infinite linear;
}
@keyframes gearsimple {
    0% { background: rgb(204, 121, 255); transform: rotate(0deg); }
    25% { background: rgb(246, 176, 246); transform: rotate(90deg); }
    50% { background: rgb(234, 201, 255); transform: rotate(180deg); }
    75% { background: lightgrey; transform: rotate(270deg); }
    100% { background: rgb(204, 121, 255); transform: rotate(360deg); }
}
.gearcomplex {
    width: 90px;
    height: 90px;
    background-color: violet;
    border-radius: 90px;
    border: 10px dashed rgb(127, 23, 255);
    animation: gearcomplex 4s .83s infinite linear;
}
@keyframes gearcomplex {
    0% { background: rgb(204, 121, 255); transform: rotate(0deg);}
    25% { background: rgb(246, 176, 246); transform: rotate(90deg);}
    50% { background: rgb(234, 201, 255); transform: rotate(180deg);}
    75% { background: lightgrey; transform: rotate(270deg);}
    100% { background: rgb(204, 121, 255); transform: rotate(360deg);}
}
